@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
      @apply text-right
    }
    h3 {
      @apply text-lg;
    }
    /* ... */
    }  
    @media screen and (max-width: 768px) {
      div.grid-container {
          display: grid;
          grid-template-columns: 1fr; /* Una columna para pantallas móviles */
          gap: 10px; /* Espacio entre las imágenes */
      }
  }
  
  /* Estilo para tabletas */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
      div.grid-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr); /* Dos columnas para tabletas */
          gap: 10px; /* Espacio entre las imágenes */
      }
  }
  
  /* Estilo para PC */
  @media screen and (min-width: 1025px) {
      div.grid-container {
          display: grid;
          grid-template-columns: repeat(4, 1fr); /* Cuatro columnas para PC */
          gap: 10px; /* Espacio entre las imágenes */
      }
  }
.opacity-transition {
  @apply transition-opacity ease-in-out duration-1000; /* Configura la transición de opacidad */
}

.card-zoom {
  @apply relative flex items-center justify-center overflow-hidden shadow-xl w-60 h-60 rounded-2xl;
}

.card-zoom-image {
  @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
}

.card-zoom-text {
  @apply absolute text-2xl bg-black font-black transition-all duration-500 ease-in-out transform scale-150 text-gray-50 opacity-60;
}

.card-zoom:hover .card-zoom-image {
  @apply scale-150;
}
.card-zoom:hover .card-zoom-text {
  @apply scale-100;
}